@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tourdesk {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 8.5%;
    z-index: 1;
}

.tourtext {
    position: absolute;
    width: 45%;
    height: auto;
    left: 45%;
    top: 20%;
    z-index: 2;
}

.biosideleft {
    position: absolute;
    height: auto;
    top: 135%;
    left: 0%;
    z-index: 5;
}

.biosidepaper {
    position: absolute;
    height: auto;
    width: 100%;
    top: 112%;
    left: 0;
    z-index: 5;
}

.biosidetext {
    font-weight: bold;
    transform: rotate(-5deg);
    font-size: 410%;
    position: absolute;
    top: 120%;
    left: 27%;
    z-index: 5;
}

.biosidepara1 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 150%;
    top: 145%;
    left: 38%;
    z-index: 5;
}

.musicfont1 {
    position: absolute;
    text-align: center;
    font-size: 400%;
    top: 235%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.sticker1 {
    position: absolute;
    width: 30%;
    height: auto;
    top: 165%;
    left: 70%;
    z-index: 5;
}

.sticker2 {
    transform: rotate(-82deg);
    position: absolute;
    width: 20%;
    height: auto;
    top: 110%;
    left: 72%;
    z-index: 5;
}

.tag {
    opacity: 0;
    transition: ease-out 2s;
}

.tag.visible {
    opacity: 1;
}

.souralbumcover {
    position: absolute;
    width: 35%;
    height: auto;
    top: 290%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.papertexture {
    position: absolute;
    width: 100%;
    height: auto;
 top: 235%;
 left: 0;   
    z-index: 1;
    filter: blur(1px) opacity(20%) grayscale(100%);
}
.tape1 {
    transform: rotate(-25deg);
    position: absolute;
    width: 14%;
    height: auto;
    top: 254%;
    left: 29%;
    z-index: 3;
}

.tape2 {
    transform: rotate(-25deg);
    position: absolute;
    width: 13%;
    height: auto;
    top: 320%;
    left: 60%;
    z-index: 3;
}

.souralbumtitle {
    font-weight: bold;
    font-size: 280%;
    position: absolute;
    top: 335%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.souralbumbutton {
    font-weight: bold;
    font-family: 'Waiting for the Sunrise', Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: rgb(199, 146, 199);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 4px 2px;
    display: inline-block;
    border-radius: 30px;
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.souralbumbutton:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 146, 199);
    cursor: url('../images/sketchpointer4.png'), pointer;
}
.dlive {
    position: relative;
    z-index: 4;
}
.dlivefilter {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0%;
    top: 365%;
    z-index: 3;
    opacity: 0.3;
}