@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.tourdesk {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 8.5%;
    z-index: 1;
  }
  .tourtext {
    position: absolute;
    width: 45%;
    height: auto;
    left: 45%;
    top: 20%;
    z-index: 2;
  }
.biosideleft {
    position: absolute;
    height: auto;
    top: 135%;
    left: 0%;
    z-index: 3;
  }
  .biosidepaper {
    position: absolute;
    height: auto;
    width: 100%;
    top: 118%;
    left: 0;
    z-index: 3;
  }
  .biosidetext {
      transform: rotate(-5deg);
      font-size: 400%;
      position: absolute;
      top: 120%;
      left: 27%;
      z-index: 3;
  }
  .biosidepara1 {
      position: absolute;
      font-size: 160%;
      top: 140%;
      left: 38%;
      z-index: 3;
  }
  .musicfont1 {
      position: absolute;
      text-align: center;
      font-size: 400%;
      top: 235%;
      left: 50%;
  transform: translate(-50%, -50%);
      z-index: 3;
  }
 .sticker1 {
   position: absolute;
   width: 30%;
   height: auto;
   top: 160%;
   left: 70%;
   z-index: 3;
 }
 .sticker2 {
   transform: rotate(-80deg);
   position: absolute;
   width: 20%;
   height: auto;
   top: 115%;
   left: 68%;
   z-index: 3;
 }
.tag {
  opacity: 0;
  transition: ease-out 2s;
}

.tag.visible {
  opacity: 1;
}
.souralbumcover {
  position: absolute;
  width: 35%;
  height: auto;
  top: 290%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.tape1 {
  transform: rotate(-25deg);
  position: absolute;
  width: 14%;
  height: auto;
  top: 254%;
  left: 29%;
  z-index: 3;
}
.tape2 {
  transform: rotate(-25deg);
  position: absolute;
  width: 13%;
  height: auto;
  top: 320%;
  left: 60%;
  z-index: 3;
}
.souralbumtitle {
  font-size: 250%;
  position: absolute;
  top: 335%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.souralbumbutton {
  transition-duration: 0.5s;
  font-size: 120%;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: rgb(199, 146, 199);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 4px 2px;
  display: inline-block;
  border-radius: 14px;
  position: absolute;
  top: 350%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.souralbumbutton:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: rgb(0, 0, 0);
  color: rgb(199, 146, 199);
}