* {box-sizing: border-box}
.mySlides {
    display: none
}
.imgSlide {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  top: 0%;
  left: 0%;
  width: 100%;
  position: absolute;
  margin: auto;
  z-index: 1;
}

/* Next & previous buttons */
.prev {
    transform: rotate(-90deg);
    right: 0;
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 270%;
  user-select: none;
}

.next {
    transform: rotate(-90deg);
    cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 270%;
  user-select: none;
  right: 1.35%;
}
.slidesText {
    transform: rotate(10deg);
    position: absolute;
    top: 27%;
    left: 54%;
    font-size: 500%;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.slidesText {
    background-color: rgba(255, 247, 199, 0.8);
    padding: 0.5%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-image: url('../images/nav-hover2a.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    background-size: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-name: fade;
  animation-duration: 0.3s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}